
  
  body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#fundo_lampiao {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
#acendedor{
    width: 20%;
   position:absolute; 
    bottom: -2%;
    left: 75%;
    z-index: 0;
}


#pau-container {
    position: absolute;
    left: 70%;
    bottom: 45%;
    width: 6%;
    height: 50%;
    transform-origin: bottom center;
    z-index: 1;
}

#pau {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    transform-origin: bottom center;
    pointer-events: none;
    transform: rotate(0deg); /* Posição inicial */
    transition: transform 0.2s ease-out;
}

.planeta_candeeiro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

#planeta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    transform-origin: center;
   /* animation: rotatePlanet 15s linear infinite;*/
}

.luz {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 150px;
    height: auto;
    transform-origin: center -130px;
    pointer-events: none;
    

}

#luz1 {
    transform: rotate(0deg) translateY(100px);
   /* animation: rotateLamp1 15s linear infinite;*/
}

#luz2 {
    transform:  rotate(120deg) translateY(100px);
    
    /*animation: rotateLamp2 15s linear infinite;*/
}

#luz3 {
    transform: rotate(240deg) translateY(100px) ;
    

    /*animation: rotateLamp3 15s linear infinite;*/
}
.desistir {
    width: 100%;
    height: 100%;
}

.botao {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    z-index: 100;
    display: none;
    padding: 10px 20px;
    background-color: 020858;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;
   
    animation: fadeIn 0.20s ease forwards;
}

.botao:hover {
    background-color: ;
    cursor: pointer;
}

.fullScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.fullScreen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
   
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}