/* Seta Retroceder */
#seta-retroceder {
    position: absolute;
    top: 20px;
    left: 25px;
    display: flex;
    z-index: 200;
    width: 40px;
    height: auto;
    cursor: pointer;
  }
  
  #seta-retroceder:hover {
    opacity: 0.5;
  }
  


/* Som */
.sound-controls {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    z-index: 10000;
}

.sound-controls img {
    width: 40px;
    height: auto;
    cursor: pointer;
}


/* Estilo para o container do ícone de ajuda */
.ajuda {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
}

.ajuda img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.ajuda img:hover {
    transform: scale(1.1);
}


/* POPUP de INFORMAÇÃO - todos os jogos (interrogação) */
/* Estilo para o popup */
.popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #FFFFC3 ;
    color:#080D4A ;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 101;
   /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    border: 1px solid #fff;*/
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

/* Mostrar o popup quando a classe 'show' é adicionada */
.popuptext.show {
    visibility: visible;
    opacity: 1;
}

/* Triângulo indicador */
.popuptext::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 30px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #FFFFC3 transparent transparent;
}


/* POPUP full screen final dos jogos  */
/* Botão laranja voltar à homepage no popup principe */
#homeButton{
    position:absolute; 
    top: 54%;
        left: 35%;
        padding: 12px 35px;
    background-color:rgb(255, 183, 0) ;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    }
    #homeButton:hover{
        background-color:rgb(255, 140, 0) ;  
    }


/*fundo*/
.fullScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(127, 169, 188, 0.9);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .fullScreen .close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    font-size: 70px;
    cursor: pointer;
    z-index: 1001;
  }
  .close:hover{
  scale:107%;
  }
  
  
  .fullScreen-img {
  
    object-fit: contain;
    transition: transform 0.10s ease;
  }
  
  /* Posições específicas */
  /*principezinho*/
#posicao1 {
    position: absolute;
   bottom: -5%;
    left: 60%;
    width:35%; 
}
/*balão de fala principezinho*/
#posicao2 {
    top: 20%;
    left: 15%;
    width: 60%;
}
