/* Título "O Principezinho" */
h1 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 5vw; /* Usando uma unidade relativa ao tamanho da tela */
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 3%; /* Ajuste da posição vertical */
    left: 20%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Centraliza perfeitamente considerando o tamanho do texto */
    z-index: 10;
}

/* Subtítulo */
h2 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 2vw; /* Usando uma unidade relativa ao tamanho da tela */
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 30%; /* Ajuste da posição vertical */
    left: 20%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Centraliza perfeitamente considerando o tamanho do texto */
    z-index: 10;
}

/* Imagem de fundo (background) */
.deserto {
    width: 100%;
    height: 100vh;
}

/* Avião */
.aviao {
    position: absolute;
    width: 10vw;  /* Começa pequeno */
    height: auto;
    animation: moveAviao 2s linear forwards;
    z-index: 20;
}

/* Animação do movimento do Avião */
@keyframes moveAviao {
    0% {
        top: -10%;
        right: 40%;
        transform: rotate(0deg) scale(1); /* Começa pequeno e em movimento */
    }
    35% {
        top: 15%; 
        right: 20%;
        transform: rotate(90deg) scale(4); /* Aumenta de tamanho e gira */
    }

    50% {
        top: 40%; 
        right: 20%;
        transform: rotate(180deg) scale(6); /* Aumenta de tamanho e gira */
    }

    100% {
        top: 70%;
        right: 40%;
        transform: rotate(380deg) scale(10); /* Chega maior e gira até parar */
    }
}

/* Impede o overflow da animação fora da tela */
body {
    overflow: hidden;
}

/* Media queries para ajustes em telas menores */
@media (max-width: 768px) {
    h1 {
        font-size: 5vw; /* Aumenta o tamanho da fonte em telas menores */
        top: 3%; /* Ajusta a posição vertical para telas menores */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 4vw; /* Aumenta ainda mais o tamanho da fonte para telas muito pequenas */
        top: 3%; /* Ajuste fino da posição */
    }
}
