/* Background Noite */
#ceu {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

/* Planeta */
#planeta-homem-negocios {
  position: absolute;
  left: 35%;
  bottom: -27%;
  width: 70%;
  z-index: -1;
}

/* Pote */
#pote {
  position: relative;
  left: 1000px;
  margin-top: 11.5%;
  width: 20%;
  height: 30%;
  overflow: hidden;
}

#pote-img {
  width: 100%;
  height: auto;
  display: block;
  z-index: 12;
  pointer-events: none;
  position: relative;
}


#pote-cima {
  position: absolute;
  left: 1018px;
  top: 150px;
  width: 17.7%;
  z-index: 0;
}

#pote-baixo {
  position: absolute;
  left: 1018px;
  top: 592px;
  width: 17%;
  z-index: 0;
}

/* Área dos objetos */
.area-objetos {
  position: absolute;
  top: 10%;
  left: 6%;
  width: 48vw;
  /* 40% do ecrã */
  height: 70vh;
  overflow: hidden;
  pointer-events: auto;
  z-index: 5;
  /*background-color: rgba(255, 0, 0, 0.2);*/
}

#area-queda {
  position: absolute;
  left: 66.4%;
  top: 39%;
  width: 17%;
  height: 51%;
  pointer-events: none;
  z-index: 5;
  overflow: hidden;
  /*background-color: rgba(0, 255, 0, 0.2);*/
}


.objeto-animado {
  position: absolute;
  width: 35px;
  height: auto;
  opacity: 1;
  cursor: pointer;
  z-index: 9;
  transition: transform 1s ease, opacity 1s ease;
}


@keyframes animarObjeto {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Objetos a cair no pote */
@keyframes cairNoPote {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translate(300px, 400px);
    /* Ajuste dependendo da posição do pote */
    opacity: 0;
  }
}

.objeto-caindo {
  animation: cairNoPote 1s ease-in forwards;
  pointer-events: none;
  /* Evita clique múltiplo durante animação */
}

/* Botão Desistir  */
.desistir {
  position: fixed;
  bottom: 5%;
  left: 25%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  z-index: 100;
  display: none;
  padding: 10px 20px;
  background-color: #e0b2c6;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  animation: fadeIn 0.20s ease forwards;
}

.desistir:hover {
  background-color: #f5cbee;
}

/* Evita scroll da tela */
body {
  overflow: hidden;
}

/* Balões de Fala */
.balao {
  position: fixed;
  width: 15vw;
  height: auto;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 1s ease, visibility 1s ease;
}

.balao.fade-in {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.balao.fade-out {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

