/* Balões de Fala */
#balao-fala1 {
  position: fixed;
  left: 65%;
  bottom: 55%;
  width: 15vw;
  height: auto;
  z-index: 5;
}

#balao-fala2 {
  position: fixed;
  left: 65%;
  bottom: 55%;
  width: 15vw;
  height: auto;
  z-index: 5;
}

#balao-fala3 {
  position: fixed;
  left: 65%;
  bottom: 55%;
  width: 15vw;
  height: auto;
  z-index: 5;
}

/* Objetos */
.objetos {
  z-index: 4;
}

.objetos img {
  width: 100px;
  position: fixed;
  cursor: pointer;
  opacity: 1;
  z-index: 4;
}

/* Posição inicial dos objetos */
#regador {
  top: 26vh;
  left: 2vw;
}

#guarda-chuva {
  top: 40vh;
  left: 8vw;
}

#cupula {
  top: 48vh;
  left: 3vw;
  width: 70px;
  opacity: 0.7;
}

#sol {
  top: 72vh;
  left: 5vw;
}

/* Zona de Sucesso */
#zona-sucesso {
  position: absolute;
  bottom: 0;
  left: 56%;
  transform: translateX(-50%);
  width: 30%;
  height: 70%;
  border-radius: 10px;
  z-index: 2;
  border: 2px dashed #00c3ff;
  background-color: rgba(0, 195, 255, 0.1);
}

/* Rosa */
#rosa {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 70%;
}

/* Nuvem Lateral */
#nuvem-lateral {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 73%;
  z-index: 2;
}

/* Background Noite */
.noite-rosa {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Planeta */
.planeta {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 70%;
}

/* Seta Retroceder */
#seta-retroceder {
  position: absolute;
  top: 20px;
  left: 25px;
  display: flex;
  z-index: 10000;
  width: 40px;
  height: auto;
  cursor: pointer;
}

#seta-retroceder:hover {
  opacity: 0.5;
}

/* Evita scroll da tela */
body {
  overflow: hidden;
}

/* Movimento do Sol */
@keyframes girarEOscilar {
  0% { transform: scale(3) rotate(0deg); }
  25% { transform: scale(3.1) rotate(10deg); }
  50% { transform: scale(2.9) rotate(20deg); }
  75% { transform: scale(3.1) rotate(30deg); }
  100% { transform: scale(3) rotate(360deg); }
}

.animacao-sol {
  animation: girarEOscilar 2s ease-in-out;
}
